<h3 class="text-3xl font-semibold">Liste des chiens</h3>
<hr class="border-t border-black">
<ng-container *ngIf="(dogs |async)?.length">
    <table class="text-center w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let dog of (dogs | async); let i = index;">
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ dog.name }}</td>
                    <td>{{ dog.breed }}</td>
                    <td>{{ dog.age }}</td>
                    <td class="flex space-x-2 justify-center items-center">
                        <button class="px-2 py-1 border border-black rounded-md hover:bg-black hover:shadow-md hover:text-white transition duration-150">Details</button>
                        <button class="px-2 py-1 border border-black rounded-md hover:bg-black hover:shadow-md hover:text-white transition duration-150">Editer</button>
                        <button class="px-2 py-1 border border-black rounded-md hover:bg-black hover:shadow-md hover:text-white transition duration-150">Supprimer</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</ng-container>