<h3>Recipe Name</h3>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="recipeDetailButton" data-bs-toggle="dropdown" aria-expanded="false">
    Manage Recipe
  </button>
  <ul class="dropdown-menu" aria-labelledby="recipeDetailButton">
    <li><a href="#" class="dropdown-item">To Shopping List</a></li>
    <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
    <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
  </ul>
</div>
<div class="row">Description</div>
<div class="row">Ingredients</div>
