<div class="row">
  <div class="col-md-12">
    <p>Add new Servers or blueprints!</p>
    <label for="serverName">Server Name</label>
<!--    <input type="text" class="form-control" id="serverName" [(ngModel)]="newServerName">-->
    <input
      type="text"
      class="form-control"
      id="serverName"
      #serverNameInput>
    <label for="serverContent">Server Content</label>
    <input
      type="text"
      class="form-control"
      id="serverContent"
      #serverContentInput>
    <hr>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <button class="btn btn-primary me-2"
            (click)="onAddServer(serverNameInput.value)">Add Server</button>
    <button class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput.value)">Add Server Blueprint</button>
  </div>
</div>
